@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');
body{
}

.nav-item{
   color: black;
   font-size: 25px;
    border-right: 1px solid grey;
    padding-right: 2px !important;
    padding-left: 45px !important;
    font-family: 'Saira Extra Condensed', sans-serif;

    
}

#aboutArt{
    margin-left: -19%;
}
#about{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#bigLogo{
    margin-left: 52%;
    margin-top: -3%
    
}
 #slogo{
     height: 3%;
     width: 3%;
     margin-left: 3%;
     margin-right: 3%
 }

 #blogo{
    height: 64vh;
    padding-right: 100%;
    
 }

 #mission{
     color: rgb(159,159,159);
     text-align: center;
     font-size: 50px;
     margin-top: -10%;
     font-family: 'Saira Extra Condensed', sans-serif;
     text-shadow: 2px 2px 4px black;
     



 }
