body{
}

.nav-item{
   color: rgb(254,214,124);
    border-right: 1px solid grey;
    padding-right: 20px !important;
    padding-left: 45px !important;
    
}
#about{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#bigLogo{
    margin-left: 38%;
    
}
 #slogo{
     height: 3%;
     width: 3%;
     margin-left: 3%;
     margin-right: 3%
 }

 #blogo{
    height: 64vh;
    padding-right: 100%;
    
 }
