@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700&display=swap');
body{
}

.nav-item{
   color: rgb(254,214,124);
    border-right: 1px solid grey;
    padding-right: 2px !important;
    padding-left: 45px !important;
    font-family: 'Anonymous Pro', monospace;

    
}

#aboutArt{
    margin-left: -19%;
}
#about{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#bigLogo{
    margin-left: -14%;
    margin-top: -1%
    
}
 #slogo{
     height: 3%;
     width: 3%;
     margin-left: 3%;
     margin-right: 3%
 }

 #blogo{
    height: 64vh;
    padding-right: 100%;
    
 }

 #mission{
     color: rgb(159,159,159);
     text-align: center;
     font-size: 40px;
     margin-top: 0%;
     font-family: 'Anonymous Pro', monospace;
     text-shadow: 2px 2px 4px black;
     



 }
